// text colors
.tdark {
  color: $dark !important;
}
.tlgrey {
  color: $lgrey !important;
}
.twhite {
  color: $white !important;
}
.tyellow {
  color: $yellow !important;
}
.tred {
  color: $red !important;
}
.tblue {
  color: $blue !important;
}
.active {
  font-weight: 600 !important;
}
// bg colors
.bgdgrey {
  background-color: $dgrey !important;
}
.bgdark {
  background-color: $dark !important;
}
.bglgrey {
  background-color: $lgrey !important;
}
.bgwhite {
  background-color: $white !important;
}
.bgyellow {
  background-color: $yellow !important;
}
.bgred {
  background-color: $red !important;
}
.bgblue {
  background-color: $blue !important;
}